/* thead,
tbody {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
} */
body {
  background-image: url("../HomeBackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: whitesmoke;
  background-position: center;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.btn {
  padding: 10px 20px;
  margin: 2px;
  cursor: pointer;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(21, 0, 255, 0.844);
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 13, 255, 0.5);
}

btn-check:focus + .btn-danger,
.btn-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.5);
}
.btn-check:active + .btn-danger:focus,
.btn-check:checked + .btn-danger:focus,
.btn-danger.active:focus,
.btn-danger:active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.5);
} */
/* #calculate:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
} */

/* .bonus {
  display: flex;
  flex-direction: column;
  width: 300px;
} */
/* #form-name {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form-search {
  margin-bottom: 50%;
  margin-left: 20px;
  width: 20%;
} */
